<div class="text-bg-dark p-3">
<div  class="footer">
    <div class="parte1">
        <h1>Amperez</h1>
        <p>El mejor equipo de computo para uso personal</p>
    </div>
    <div class="parte2">
        <h1>ENLACES RÁPIDOS</h1>
        <p>Inicio</p>
        <p>Products</p>
        <p>Nosotros</p>
    </div>
    <div class="parte3">
        <h1>CONTÁCTACTANOS</h1>
        <p>contacto&#64;amperez.com</p>
        <p>+52 123 456 7890</p>
        <p>Ciudad de México, México</p>
    </div>
</div>
<hr>
<p class="derechos">
    &copy; 2025 amPerez. Todos los derechos reservados.
</p>
</div>